pandas
faker
scikit-learn
joblib
fastapi
uvicorn
pydantic
sqlalchemy
pytest
httpx
python-dotenv
pydantic-settings
alembic
markdown-pdf
python-multipart
psycopg2-binary
redis
celery
pika
passlib[bcrypt]
bcrypt
PyJWT
